html {
    @include box-sizing(border-box);
    height: 100%;
}
*,
*:after,
*:before {
  @include box-sizing(inherit);
}
body {
    font-family: $fuente_principal;
    height: 100%;
    background-color: $gris;
}
img {
    max-width: 100%;
}
h1 {
    margin: 0;
}
a {
    text-decoration: none;
    color: $blanco;
}
ul {
    list-style: none;
}


.centrado {
    text-align:center;
}
.oculto {
    display: none;
}

.contenedor-principal {
    flex: 1;
    display: flex;
}

